
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@font-face {
    font-family: 'Merriweather-Bold';
    src: url('../fonts/Merriweather-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Merriweather-Regular';
    src: url('../fonts/Merriweather-Regular.ttf');
    font-weight: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --heading-font-stack: 'Merriweather','Merriweather-Bold', serif;
    --body-font-stack: 'Merriweather', 'Merriweather-Regular', serif;
    --primary-color: #2d3945;
    --secondary-color: #4f5e6c;
}

body{
    margin: 0 auto;
    font-family: var(--body-font-stack);
}

header {
    text-align: center;
}

h2,
legend {
    margin: 0 0 10px 0;
    color: var(--primary-color);
    font-family: var(--heading-font-stack);
    font-size: 1.2rem;
    font-weight: 700;

}

.main-text {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

.main-text h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 1.3rem;
    font-family: var(--heading-font-stack);
}

.about-newsletter {
    border-bottom: 5px solid var(--primary-color);
    margin: 15px 4% -3px;

}

.about-newsletter p {
    color: var(--secondary-color);
    line-height: 1.4;
    margin: 15px 0 25px 0;
}

.form-container {
    margin: 5px 4%;
    border-top: 2px solid var(--primary-color);
    padding: 5px 0 0 0;
}

.input-field {
    display: block;
    width: 100%;
    border: none;
    background-color: #eff0f1;
    border-radius: 5px;
    color: var(--secondary-color);
    margin: 10px 0;
    padding: 16px;
}

/* .input-field:last-child {
    width: 50%;
} */

.input-field:focus,
textarea:focus {
    border: 2px solid var(--primary-color);
    transition: ease 0.2s;
}

legend {
    margin: 15px 0;
}

.form-field  label {
    color: var(--secondary-color);
    padding: 5px 0;
    display: block;
    font-size: 0.938rem;
}

::placeholder {
    text-align: right;
    color: #75787a;
    font-size: 0.8rem;
    font-style: italic;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

form > fieldset:first-of-type {
    border-bottom: 3px solid var(--primary-color);
    margin-bottom: 35px;
    padding-bottom: 35px;
}

fieldset p {
    color: var(--secondary-color);
    line-height: 1.4;
    margin-top: 16px;
}

.selection-container {
    margin: 13px 0;
    color: var(--secondary-color);
}

[type="checkbox"],
[type="radio"] {
    margin-right: 10px;
}

.sub-heading {
    margin-top: 25px;
    margin-bottom: 25px;
}

textarea {
    width: 100%;
    border: none;
    background-color: #eff0f1;
    border-radius: 5px;
    color: var(--secondary-color);
    padding: 5px;
    margin-bottom: 35px;
}

label[for="other"] {
    display: block;
    margin: 30px 0 20px 0;
    color: var(--secondary-color);
}

button[type="submit"] {
    display: block;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 0;
    color: white;
    background-color: #20c997;
    width: 100%;
    font-weight: 600;
    margin-bottom: 30px;
}

button[type="submit"]:hover {
    background-color: teal;
    transition: 0.5s ease-in-out;
}

.form-container > p {
    text-align: center;
    font-size: 0.875rem;
    color: var(--secondary-color);
    margin-bottom: 150px;
}

/* Media Queries */
@media (min-width: 768px) {

    .about-newsletter,
    .form-container {
        width: 58%;
        margin: auto;
    }
    .form-field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .input-field {
        width: 70%;
    }

    .about-newsletter {
        margin-bottom: 2px;
       }

       button[type="submit"] {
        padding: 20px 0;
       }
       
}